.contacts {
  &__hidden {
    display:none;
  }
  &__card-page {
    position: absolute;
    width: 75.1px;
    height: 28px;
    left: 56px;
    top: 3917px;

    background: #f0d1a5;
    border-radius: 6px;
  }
  &__category {
  }
}
