.gallery-section {
  background-image: linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
  margin-left: 7%;
  display: flex;
 
  @media screen and (max-width: 1280px) {
    & {
      max-width: auto;
      margin: 0;
      max-width: 100%;
    }
  }

  @media screen and (min-width: 575.98px) and (max-width: 1199.98px) {
    & {
      max-width: auto;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 575px) {
    & {
      max-width: auto;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}
.masonry {
  background-color: none;
  max-width: 1280px;
  max-height: 430px;
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: repeat(14, 1fr);
  row-gap: 8px;
  column-gap: 8px;
  @media screen and (min-width: 575.98px) and (max-width: 1199.98px) {
    max-height: 260px;
    margin-bottom:90px;
    width:  100%;
    gap:1px;

  }
  @media screen and (max-width: 575px) {
    max-height: 180px;
    margin-bottom:90px;
    width:  100%;
    margin-left:20px;
  }

  img {
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      transform: scale(1.07);
    }
    @media screen and (min-width: 575.98px) and (max-width: 1199.98px) {
      max-height: 122px;
    }
    @media screen and (max-width: 575px) {
      max-height: 164px;
      z-index: 2;
    }
  }

  .masonry-item__1 {
    grid-column: 1 / 4;
    grid-row: 5 / 10;
  }
  .masonry-item__2 {
    grid-column: 4 / 7;
    grid-row: 3 / 8;
  }
  .masonry-item__3 {
    grid-column: 7 / 13;
    grid-row: 1 / 11;
  }
  .masonry-item__4 {
    grid-column: 13 / 16;
    grid-row: 4 / 9;
  }
  .masonry-item__5 {
    grid-column: 16 / 32;
    grid-row: 3 / 8;
  }
  .masonry-item__6 {
    grid-column: 4 / 7;
    grid-row: 8 / 13;
  }
  .masonry-item__7 {
    grid-column: 7 / 16;
    grid-row: 11 / -1;
  }
  .masonry-item__8 {
    grid-column: 19 / -1;
    grid-row: 5 / 10;
  }
  .masonry-item__9 {
    grid-column: 13 / 16;
    grid-row: 9 / -2;
  }
  .masonry-item__10 {
    grid-column: 16 / 32;
    grid-row: 8 / -3;
  }
}
