/*SECTION HEADER*/

.header {
  background-color: $rosa-principal;
  max-width: 100%;
  display: flex;
  position: relative;

  @media screen and(min-width: 1280px) {
    & {
      max-width: 100%;
    }
  }

  @media screen and(min-width: 481px) and(max-width: 768px) {
    & {
      max-width: 100%;
    }
  }

  @media screen and(min-width: 320px) and(max-width: 480px) {
    & {
      max-width: 100%;

      margin: 0;
    }
  }

  &__logo {
    width: 20%;
    margin-top: 1.5%;

    @media screen and(min-width: 320px) and(max-width: 480px) {
      & {
        width: 199px;
        margin-top: 1.5%;
      }
    }
  }

  &__btn {
    width: 160px;
    height: 44px;
    border-radius: 22px;
    border: none;
    background: #ffffff;
    color: $rosa-text;
    @media screen and(min-width: 320px) and(max-width: 480px) {
      & {
        display: none;
      }
    }
  }

  &__nav {
    background-color: $rosa-principal;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    @media screen and(min-width: 320px) and(max-width: 480px) {
      & {
        justify-content: space-between;
      }
    }
  }

  &__nav-list {
    margin-top: 1.5%;
    width: 60%;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;

    @media screen and(min-width: 481px) and(max-width: 768px) {
      & {
        display: none;
      }
    }

    @media screen and(min-width: 320px) and(max-width: 480px) {
      & {
        display: none;
      }
    }
  }

  &__nav-list > li {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: $blanco-text;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    & > li:hover {
      cursor: pointer;
      color: $rosa-text;
    }
  }

  &__nav-btn {
    margin-top: 1.5%;
    display: flex;
    align-items: center;
    margin-right: 2%;
    position: relative;
  }

  &__nav-icon > svg {
    color: $rosa-text;
    position: absolute;
    right: 15%;
  }
}

.btn__main-tablet > svg {
  fill: $rosa-principal;
}

/*MENU-MOBILE*/

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle-svg {
  fill: $rosa-text;
}

.menu-toggle-svg-close {
  fill: $blanco-text;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: $rosa-main-side;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

.link {
  border: 1px solid #e18298;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }

  .menu-toggle-svg {
    display: none;
  }

  .menu-toggle-svg-close {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .menu-container {
    display: none;
  }
}
