<<<<<<< HEAD
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 14px;
  line-height: 1;
  overflow-x: hidden;
=======
@import '~node_modules/modern-normalize/modern-normalize.css';
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1;
>>>>>>> dev
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
}
<<<<<<< HEAD
@media screen and (max-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 575.98px) and (max-width: 1199.98px) {
  .container {
    max-width: 1199.98px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 575px) {
  .container {
    max-width: 575px;
    margin: 0 auto;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
=======
>>>>>>> dev

svg {
  fill: currentColor;
}

.footer {
<<<<<<< HEAD
  display: flex;
  max-width: auto;
  background-color: #FFF5F6;
  padding-top: 121px;
}
@media screen and (max-width: 1280px) {
  .footer {
    max-width: 1280px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 575.98px) and (max-width: 1199.98px) {
  .footer {
    max-width: 1199.98px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 575px) {
  .footer {
    max-width: 575px;
    margin: 0 auto;
  }
}
.footer__content {
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 16px;
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .footer__content {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media screen and (min-width: 575.98px) and (max-width: 1199.98px) {
  .footer__content {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media screen and (max-width: 575px) {
  .footer__content {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
.footer__title {
  display: flex;
  flex-direction: column;
  height: 900px;
}
.footer__title--item {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-top: 890px;
}
@media screen and (max-width: 1280px) {
  .footer__title--item {
    font-size: 30px;
    margin-top: 100px;
  }
}
@media screen and (min-width: 575.98px) and (max-width: 1199.98px) {
  .footer__title--item {
    font-size: 26px;
  }
}
@media screen and (max-width: 575px) {
  .footer__title--item {
    max-width: 232px;
    font-size: 18px;
    height: 1513px;
  }
}
.footer__title--text {
=======
  position: absolute;
  width: 1280px;
  height: 877px;
  left: 0px;
  top: 3976px;
  index: 1;
  background-color: #FFF5F6;
}
.footer__title--item {
  position: absolute;
  width: 472px;
  height: 34px;
  left: 16px;
  top: 4640px;
  text-transform: uppercase;
  color: #FFB8CA;
  font-family: Titan One;
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-align: left;
}
.footer__title--text {
  position: absolute;
  width: 574px;
  height: 66px;
  left: 16px;
  top: 4690px;
>>>>>>> dev
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #D41443;
}
<<<<<<< HEAD
@media screen and (max-width: 1280px) {
  .footer__title--text {
    font-size: 58px;
  }
}
@media screen and (min-width: 575.98px) and (max-width: 1199.98px) {
  .footer__title--text {
    max-width: 200px;
    font-size: 48px;
  }
}
@media screen and (max-width: 575px) {
  .footer__title--text {
    font-size: 34px;
  }
}
.footer__icons {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
  margin-top: 890px;
  position: relative;
}
@media screen and (max-width: 575px) {
  .footer__icons {
    position: absolute;
    max-width: 232px;
  }
}
.footer__icons--item {
  display: inline-flex;
  margin-left: 30px;
  margin-bottom: 40px;
}
.footer__icons--link {
  border-radius: 50%;
  fill: #FFB8CA;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 16px;
}
.footer__icons--link:hover, .footer__icons--link:focus {
  fill: #D41443;
}
.footer__linea {
  position: relative;
  width: 1167px;
  height: 0px;
  left: 37px;
  top: 0;
  border: 1px solid #e1e1e1;
}
@media (max-width: 575px) {
  .footer__linea {
    left: 0px;
    border: 1px solid #e1e1e1;
    width: 100%;
  }
}
.footer__copyright {
  position: relative;
  left: 550px;
  top: 7px;
}
@media (max-width: 575px) {
  .footer__copyright {
    width: 50%;
    left: 150px;
  }
}
.footer__tel {
  position: absolute;
  top: 1080px;
  display: flex;
  justify-content: space-between;
  margin-top: none;
=======
.footer__icons {
  position: absolute;
  width: 162px;
  height: 34px;
  left: 1110px;
  top: 4652px;
  display: flex;
  justify-content: flex-end;
  gap: 80px;
}
.footer__icons-link {
  position: absolute;
  border-radius: 50%;
  fill: #FFB8CA;
  background-color: #FFB8CA;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icons-link:hover, .footer__icons-link:focus {
  background-color: #D41443;
  fill: #D41443;
}
.footer__tel {
  position: absolute;
  width: 319px;
  height: 30px;
  left: 990px;
  top: 4726px;
>>>>>>> dev
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
<<<<<<< HEAD
  text-align: right;
  color: #000000;
}
@media screen and (max-width: 575px) {
  .footer__tel {
    font-size: 16px;
    margin-top: 890px;
    margin-left: 150px;
  }
}
.footer__tel-link {
  color: #D41443;
=======
  letter-spacing: 0.02em;
  color: #000000;
}
.footer__tel-link {
  color: #D41443;
}
.footer__copyright {
  position: absolute;
  width: 278px;
  height: 26px;
  left: 462px;
  top: 4890px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 186%;
  /* identical to box height, or 26px */
  letter-spacing: 0.02em;
  color: #907E82;
}

.contacts__hidden {
  color: #D41443;
}
.contacts__card-page {
  position: absolute;
  width: 75.1px;
  height: 28px;
  left: 56px;
  top: 3917px;
  background: #f0d1a5;
  border-radius: 6px;
>>>>>>> dev
}/*# sourceMappingURL=index.css.map */