$rosa-principal: #ffb8ca;
$rosa-secundary: #fff5f6;
$rosa-circulo: #ffa5ba;
$rosa-icon: #fea5bb;
$rosa-text: #d41443;
$blanco-text: #ffffff;
$negro-text: #000000;
$gris-text: #907e82;
$cafe-helado: #f0d1a5;
$verde-helado: #c2e297;
$rosa-main-side: #e17992;
