$rosa-principal : #FFB8CA;
$rosa-secundary : #FFF5F6;
$rosa-circulo : #FFA5BA;
$rosa-text : #D41443;
$blanco-text : #FFFFFF;
$negro-text : #000000;
$gris-text : #907E82;
$cafe-helado : #F0D1A5;
$verde-helado : #C2E297;


