<section class="contacts">
  <div class="container">
    <h2 class="contacts__hidden">contacts</h2>
    <ul class="list">
      <li class="contacts__card-page">
        <p class="contacts__category">CAFE</p>
        <div>
          <p class="contacts__city">Chicago</p>
          <p class="contacts__city-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__linea"></div>
        <ul class="list">
          <li>
            <p class="contacts__working-days">Monday - Friday</p>
            <p class="contacts__working-time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts__work-days">Saturday - Sunday</p>
            <p class="contacts__work-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contacts__linea--uno"></div>
        <ul class="list">
          <li>
            <a href="tel:+61(0)383766284" class="contacts__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__link--main"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__foodtruck">
        <p class="contacts__category-foodtruck">FOODTRUCK</p>
        <div>
          <p class="contacts__city">Los Angeles</p>
          <p class="contacts__city-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__linea"></div>
        <ul class="list">
          <li>
            <p class="contacts__working-days">Monday - Friday</p>
            <p class="contacts__working-time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts__work-days">Saturday - Sunday</p>
            <p class="contacts__work-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contacts__linea--uno"></div>
        <ul class="list">
          <li>
            <a href="tel:+61(0)383766284" class="contacts__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__link--main"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__cafe">
        <p class="contacts__category">CAFE</p>
        <div>
          <p class="contacts__city">New York</p>
          <p class="contacts__city-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__linea"></div>
        <ul class="list">
          <li>
            <p class="contacts__working-days">Monday - Friday</p>
            <p class="contacts__working-time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts__work-days">Saturday - Sunday</p>
            <p class="contacts__work-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contacts__linea--uno"></div>
        <ul class="list">
          <li>
            <a href="tel:+61(0)383766284" class="contacts__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__link--main"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <div class="contacts__buttons">
      <button
        class="contacts__btn contacts__btn-locations"
        type="button"
        data-modal-locations-open
      >
        Our Locations
        <svg class="contacts__btn-icon" width="7" height="10">
          <use href="./images/icon.svg#icon-menor"></use>
        </svg>
      </button>

      <button
        class="contacts__btn-fran contacts__btn-franchise"
        type="button"
        data-modal-franchise-open
      >
        Franchise
        <svg class="contacts__btn-iconross" width="7" height="10">
          <use href="./images/icon.svg#icon-VectorRS"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

