<!-- <section class="contacts">
  <div class="container">
    <h2 class="contacts__hidden">contacts</h2>
    <ul class="contacts__card list">
      <li class="contacts__card-page">
        <p class="contacts__category">CAFE</p>
        <div class="contacts__page-part">
          <p class="contacts__city">Chicago</p>
          <p class="contacts__city-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <ul class="contacts__working list">
          <li class="contacts__working-time--margin">
            <p class="contacts__working-days">Monday - Friday</p>
            <p class="contacts__working-time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts__working-days">Saturday - Sunday</p>
            <p class="contacts__working-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__page-part connection list">
          <li>
            <a href="tel:+61(0)383766284" class="link">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__card-page">
        <p class="contacts__category contacts__category-foodtruck">FOODTRUCK</p>
        <div class="contacts__page-part">
          <p class="contacts__city">Los Angeles</p>
          <p class="contacts__city-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <ul class="contacts__page-part contacts__working list">
          <li class="contacts__working-time--margin">
            <p class="contacts__working-days">Monday - Friday</p>
            <p class="contacts__working-time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts__working-days">Saturday - Sunday</p>
            <p class="contacts__working-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__page-part list">
          <li>
            <a href="tel:+61(0)383766284" class="link">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__card-page">
        <p class="contacts__category">CAFE</p>
        <div class="contacts__page-part">
          <p class="contacts__city">New York</p>
          <p class="contacts__city-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <ul class="contacts__page-part contacts__working list">
          <li class="contacts__working-time--margin">
            <p class="contacts__working-days">Monday - Friday</p>
            <p class="contacts__working-time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts__working-days">Saturday - Sunday</p>
            <p class="contacts__working-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__page-part connection list">
          <li>
            <a href="tel:+61(0)383766284" class="link">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <div class="contacts__buttons">
      <button
        class="contacts__btn contacts__btn-locations btn"
        type="button"
        data-modal-locations-open
      >
        Our Locations
        <svg class="modal-btn-icon" width="7" height="10">
          <use></use>
        </svg>
      </button>

      <button
        class="contacts__btn contacts__btn-franchise btn"
        type="button"
        data-modal-franchise-open
      >
        Franchise
        <svg class="modal-btn-icon" width="7" height="10">
          <use></use>
        </svg>
      </button>
    </div>
  </div>
</section> -->
