<!--SECTION CUSTOMER REVIEWS-->

<section class="section section-custumer">
  <div class="container">
    <h2 hidden>Customer Reviews</h2>

    <div class="customer">
      <article class="customer__article">
        <picture>
          <source
            srcset="
              ./images/custumer/custumer1.png        1x,
              ./src/images/custumer/custumer1-2x.png 2x
            "
          />
          <img
            src="./images/customer/customer1.png "
            class="customer__image img"
            alt="customer-1"
          />
        </picture>

        <div class="custumer__card">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <div class="customer__dot"></div>

        <h3 class="custumer__title">Emily, Los Angeles</h3>
      </article>

      <article class="customer__article">
        <picture>
          <source
            srcset="
              ./images/customer/customer2.png    1x,
              ./images/custumer/custumer2-2x.png 2x
            "
          />
          <img
            src="./images/customer/customer2.png"
            class="customer__image img"
            alt="customer-2"
          />
        </picture>

        <div class="custumer__card">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <div class="customer__dot"></div>
        <h3 class="custumer__title">Emily, Los Angeles</h3>
      </article>

      <article class="customer__article">
        <picture>
          <source
            srcset="
              ./images/customer/customer3.png    1x,
              ./images/custumer/custumer3-2x.png 2x
            "
          />
          <img
            src="./images/customer/customer3.png"
            class="customer__image img"
            alt="customer-3"
          />
        </picture>

        <div class="custumer__card">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <div class="customer__dot"></div>
        <h3 class="custumer__title">Emily, Los Angeles</h3>
      </article>
    </div>
  </div>
</section>
