<!--SECTION CUSTOMER REVIEWS-->
<section class="section">
  <div id="slider">
    <input type="radio" name="slider" id="slide1" checked />
    <input type="radio" name="slider" id="slide2" />
    <input type="radio" name="slider" id="slide3" />
    <div id="slides">
      <div id="overflow">
        <div class="inner">
          <div class="slide slide_1">
            <div class="slide-content">
              <img
                class="pfp"
                src="./images//customer/testimonial.jpg"
                alt="Feliz"
              />
              <div class="textbox">
                <p class="caption">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor
                  risus. <span class="divider"> </span>
                  <span class="divider divider_2"> </span>
                  <span class="divider divider_3"> </span>
                  <span class="divider divider_4"> </span>
                  <span class="divider divider_5"> </span>
                  <span class="divider divider_6"> </span>
                  <span class="divider divider_7"> </span>
                  <span class="divider divider_8"> </span>
                  Aliquam sem. Inhendrerit nulla quam nunc, accumsan congue.
                  Lorem ipsum primis in nibh vel risus.

                  <svg id="quotes">
                    <use href="./images/customer/icons.svg#quotes"></use>
                  </svg>
                </p>
              </div>
              <div class="circles">
                <label for="slide1"></label>
                <label for="slide2"></label>
                <label for="slide3"></label>
              </div>
              <p class="place">Emily, Los Angeles</p>
            </div>
          </div>
          <div class="slide slide_2">
            <div class="slide-content">
              <img
                class="pfp"
                src="./images/customer/testimonials2.jpg"
                alt=""
              />
              <div class="textbox">
                <p class="caption">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor
                  risus. <span class="divider"> </span>
                  <span class="divider divider_2"> </span>
                  <span class="divider divider_3"> </span>
                  <span class="divider divider_4"> </span>
                  <span class="divider divider_5"> </span>
                  <span class="divider divider_6"> </span>
                  <span class="divider divider_7"> </span>
                  <span class="divider divider_8"> </span>

                  Aliquam sem. Inhendrerit nulla quam nunc, accumsan congue.
                  Lorem ipsum primis in nibh vel risus.

                  <svg id="quotes">
                    <use href="./images/customer/icons.svg#quotes"></use>
                  </svg>
                </p>
              </div>

              <div class="circles">
                <label for="dot1"></label>
                <label for="dot2"></label>
                <label for="dot3"></label>
              </div>
              <p class="place">Emily, Los Angeles</p>
            </div>
          </div>
          <div class="slide slide_3">
            <div class="slide-content">
              <img
                class="pfp"
                src="./images/customer/testimonials3.jpg"
                alt=""
              />
              <div class="textbox">
                <p class="caption">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor
                  risus. <span class="divider"> </span>
                  <span class="divider divider_2"> </span>
                  <span class="divider divider_3"> </span>
                  <span class="divider divider_4"> </span>
                  <span class="divider divider_5"> </span>
                  <span class="divider divider_6"> </span>
                  <span class="divider divider_7"> </span>
                  <span class="divider divider_8"> </span>

                  Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                  Lorem ipsum primis in nibh vel risus.

                  <svg id="quotes">
                    <use href="./images/customer/icons.svg#quotes"></use>
                  </svg>
                </p>
              </div>
              <div class="circles">
                <label for="slide1"></label>
                <label for="slide2"></label>
                <label for="slide3"></label>
              </div>
              <p class="place">Emily, Los Angeles</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="circles_slide">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>

      <svg id="home">
        <use href="./images/customer/icons.svg#home"></use>
      </svg>
    </div>
  </div>
</section>
