<!--SECTION CUSTOMER REVIEWS-->

<section class="section section-custumer">
  <div class="container">
    <h2 hidden>Customer Reviews</h2>

    <div class="customer">
      <article class="customer__article">
          <img
            src="./images/customer/customer1.png "
            class="customer__image img"
            alt="customer-1"
          />


        <div class="customer__card">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <div class="customer__dot"></div>

        <h3 class="customer__title">Emily, Los Angeles</h3>
      </article>

      <article class="customer__article">
 
          <img
            src="./images/customer/customer2.png"
            class="customer__image img"
            alt="customer-2"
          />
        </picture>

        <div class="customer__card">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <div class="customer__dot"></div>
        <h3 class="customer__title">Emily, Los Angeles</h3>
      </article>

      <article class="customer__article">
 
          <img
            src="./images/customer/customer3.png"
            class="customer__image img"
            alt="customer-3"
          />
    

        <div class="customer__card">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <div class="customer__dot"></div>
        <h3 class="customer__title">Emily, Los Angeles</h3>
      </article>
    </div>
  </div>
</section>
