<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__title">
        <p class="footer__title--item">homemade ice cream made</p>
        <p class="footer__title--text">with passion</p>
      </div>
      <div class="footer__title">
        <ul class="footer__icons list">
          <li class="footer__icons--item">
            <a
              class="footer__icons--link link"
              href="https://github.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="footer__icons--link" width="34px" height="34px">
                <use href="./images/icon.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer__icons--item">
            <a
              class="footer__icons--link link"
              href="https://web.telegram.org/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="footer__icons--link" width="34px" height="34px">
                <use href="./images/icon.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__icons--item">
            <a
              class="footer__icons--link link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="footer__icons--link" width="34px" height="34px">
                <use href="./images/icon.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer__title">
          <p class="footer__tel">
            Feel free to contact<a
              class="footer__tel-link link"
              href="tel:+610383766284"
            >
              +61 (0) 383 766 284</a
            >
          </p>
        </div>
      </div>
    </div>
    <div>
      <svg>
        <use href="./images/icon.svg#icon-linea"></use>
      </svg>
    </div>
    <div class="footer__linea">
      <p class="footer__copyright">
        &#169; 2019 - IceCream. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
