<section class="gallery-section">
    <div class="container">
      <div class="masonry">
        <div class="masonry-item__1">
          <img src="./images/gallery/icecream-romantic-8.png" alt="icecream-romantic" />
        </div>
        <div class="masonry-item__2">
          <img src="./images/gallery/icecream-vanilla-2.png" alt="icecream-vanilla" />
        </div>
        <div class="masonry-item__3">
          <img src="./images/gallery/icecream-varied-1.png" alt="icecream-varied" />
        </div>
        <div class="masonry-item__4">
          <img src="./images/gallery/icecream-decoration-9.png" alt="icecream-decoration" />
        </div>
        <div class="masonry-item__5">
          <img src="./images/gallery/icecream-double-5.png" alt="icecream-double" />
        </div>
        <div class="masonry-item__6">
          <img src="./images/gallery/icecream-palettes-3.png" alt="icecream-palettes" />
        </div>
        <div class="masonry-item__7">
          <img src="./images/gallery/icecream-single-10.png" alt="icecream-single" />
        </div>
        <div class="masonry-item__8">
          <img src="./images/gallery/icecream-fantasy-7.png" alt="icecream-fantasy" />
        </div>
        <div class="masonry-item__9">
          <img src="./images/gallery/icecream-fruit-4.png" alt="icecream-fruit" />
        </div>
        <div class="masonry-item__10">
          <img src="./images/gallery/icecream-chocolate-milkshake-6.png" alt="icecream-chocolate-milkshake" />
        </div>
      </div>
    </div>
  </section>