<section class="header">
    <div class="container">

        <div class="header__main">

            <div class="list header__main__components">

                <div class="header__main-title">
                    <h1>ICE CREAM MADE WITH<h1 class="header__main-title--color">PASSION</h1></h1>
                    <button class="btn__main">Products</button>
                    <button class="btn__main btn__main--dimension--color">How it’s made?</button>

                    <section class="header__main-milk">
                        <ul class="list header__main-milk-img">
                            <li class="header__main-milk-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                            </li>
                        </ul>
                    </section>
                </div>

                <div>
                    <section class="header__main-decoration">
                        <ul class=" list header__main-decoration-circle">
                            <li class="header__main-decoration-img"></li>
                        </ul>
                    </section>
                </div>

                <div class="header__main-product">

                    <ul class="list header__main-product-list">
                        <span class="header__main-product-list-number">16</span>
                        <svg class="header__main-product-svg" width="30px" height="30px">
                            <use href="./images/symbol-defs.svg#icon-circle"></use>
                        </svg>
                        <p>cafe</p>
                    </ul>

                    <ul class="list header__main-product-list">
                        <span class="header__main-product-list-number">23</span>
                        <svg class="header__main-product-svg" width="30px" height="30px">
                            <use href="./images/symbol-defs.svg#icon-circle"></use>
                        </svg>
                        <p>food trucks</p>
                    </ul>

                    <section class="list header__main-product-img"></section>
                </div>

            </div>
        </div>
    </div>