<header class="header">
    <div class="container">

        <nav class="header__nav">

            <a class="header__logo" href="./index.html" target="_parent">
                <svg width="199px" height="50px">
                    <use href="./images/symbol-defs.svg#icon-icon-cream"> </use>
                </svg>
                
            </a>

            <ul class="header__nav-list list">
                <li>Home</li>
                <li>About us</li>
                <li>How it’s made?</li>
                <li>Our products</li>
                <li>Contact</li>
            </ul>


            <ul class="header__nav-btn list">

                <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                    <svg width="24" height="24" class="menu-toggle-svg">
                        <use href="./images/symbol-defs.svg#icon-menu"> 
                    </svg>
                </button>

                <button class="header__btn"> Buy now 
                    <svg width="4px" height="8px" class="header__nav-icon">
                        <use href="./images/symbol-defs.svg#icon-Vector"> </use>
                    </svg>
                </button>

            </ul>
        </nav>
    
           
    </div>

   <div class="menu-container js-menu-container" id="mobile-menu">
        <button class="menu-toggle js-close-menu">
            <svg width="24" height="24" class="menu-toggle-svg-close">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"> </path>
            </svg>
        </button>

        <ul class="mobile-menu">
            <li>
                <button class="btn"> Buy now 
                    <svg width="4px" height="8px" class="hero__nav_btn-icon">
                        <use href="./images/symbol-defs.svg#icon-Vector"> </use>
                    </svg>
                </button>
            </li>
            <li><a href="" class="link">Home</a></li>
            <li><a href="" class="link">About us</a></li>
            <li><a href="" class="link">How it’s made?</a></li>
            <li><a href="" class="link">Our products</a></li>
            <li><a href="" class="link">Contacts</a></li>
        </ul>
    </div>
    
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js" integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA==" crossorigin="anonymous"></script>
    <script defer src="./js/mobile-menu.js"></script>

</header>