<!--SECTION HERO-->

<section class="hero">
  <div class="container">
    <ul class="list hero__list">
      <ul class="list hero__list-title">
        <li><h1>ICE CREAM MADE WITH</h1></li>
        <li class="hero__list--color-pink"><h1>PASSION</h1></li>
        <ul class="list hero__list-btn">
          <li><button class="hero__item-btnProducts">Products</button></li>
          <li>
            <button class="hero__item-btnPreparation">How it’s made?</button>
          </li>
        </ul>
      </ul>

      <ul class="list hero__list-milk">
        <ul class="list hero__list-img">
          <li class="hero__item-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
          </li>
        </ul>
      </ul>
    </ul>

    <ul class="list hero__list-decoration">
      <ul class="hero__list-decorationCircle"></ul>
      <ul class="hero__list-decorationImg"></ul>
    </ul>

    <div class="list hero__content-list">
      <ul class="list hero__product-list">
        <span>16</span>
        <ul class="list hero__product-item">
          <li class="hero__product-itemSvg">
            <svg width="30px" height="30px">
              <use href="./images/symbol-defs.svg#icon-circle"></use>
            </svg>
          </li>
        </ul>
        <li class="hero__products-text">cafes</li>
      </ul>

      <ul class="list hero__product-list">
        <span>23</span>
        <ul class="list">
          <li class="hero__product-itemSvg">
            <svg width="30px" height="30px">
              <use href="./images/symbol-defs.svg#icon-circle"></use>
            </svg>
          </li>
        </ul>
        <li class="hero__products-text">food trucks</li>
      </ul>

      <ul class="hero__product-img"></ul>
    </div>
  </div>
</section>
