<header class="header">
    
    
    <nav class="header__nav">

        <ul class="list">
        </ul>

        <ul class="header__nav_list list">
            <li>Home</li>
            <li>About us</li>
            <li>How it’s made?</li>
            <li>Our products</li>
            <li>Contact</li>
            <li><button> Buy now </button></li>
        </ul>
    </nav>

    <section>
        <ul class="header_main">
            <h1>ICE CREAM MADE WITH <h1>PASSION</h1></h1>
            <button>Products</button>
            <button>How it’s made?</button>
        </ul>

        <ul>
            <img src="../images/ice_cream.jpg" alt="imagen de helado">
        </ul>
    </section>

    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>

    </header>