<header class="header">

    <div class="container">

        <nav class="hero__nav">
            
            <a class="logo" href="./index.html" target="_parent">
                <svg width="199px" height="50">
                    <use href="./images/symbol-defs.svg#icon-icon-cream"> </use>
                </svg>
            </a>

            <ul class="hero__nav_list list">
                <li>Home</li>
                <li>About us</li>
                <li>How it’s made?</li>
                <li>Our products</li>
                <li>Contact</li>
            </ul>

            <ul class="hero__nav_btn list">
                <li><button class="btn"> Buy now </button></li>
            </ul>

        </nav>
    
        <section>

            <ul class="list header__main">
                <li><h1>ICE CREAM MADE WITH</h1></li>
                <li class="header__main--color-pink"><h1>PASSION</h1></li>

                <ul class="list header__main__btn">
                    <li><button class="btn__products">Products</button></li>
                    <li><button class="btn__preparation">How it’s made?</button></li>
                </ul>

                <ul class="list header__main_text-milk">
                </ul>
            </ul>

        </section>
    
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>

    </header>