<section class="products-section" id="products-anchor">
  <div class="products-section__continer container">
    <p class="label products-section__label">100% natural</p>
    <h2 class="title products-section__title">products</h2>
    <ul class="cards-grid list">
      <li class="cards-grid__item">
        <article class="product-card product-card--ice-cream">
          <h3 class="product-card__title">ice cream</h3>
          <p class="product-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button
            class="product-card__button product-card__button--ice-cream"
            type="button"
            data-modal-open-products-1
          ></button>
        </article>
      </li>

      <li class="cards-grid__item">
        <article class="product-card product-card--ice-coffe">
          <h3 class="product-card__title">ice coffee</h3>
          <p class="product-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button
            class="product-card__button product-card__button--ice-coffe"
            type="button"
            data-modal-open-products-2
          ></button>
        </article>
      </li>

      <li class="cards-grid__item">
        <article class="product-card product-card--milkshake">
          <h3 class="product-card__title">milkshakes</h3>
          <p class="product-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button
            class="product-card__button product-card__button--milkshake"
            type="button"
            data-modal-open-products-3
          ></button>
        </article>
      </li>
    </ul>
  </div>
</section>
