body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1;
}
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.section{
  padding-top: 60px;
  padding-bottom: 60px;
}

svg {
  fill: currentColor;
}
